*{
	padding: 0px;
	margin: 2px;
}
body{
	background: url("images/bg.jpg") no-repeat;
	background-size: cover;
}
h1,h2{
	font-family: serif;
	
}
.login-form{
	width: 400px;
	height: 500px;
	margin: 150px auto;
	background-color: transparent;
	padding: 40px;
	border: 1px solid wheat;
	border-radius: 5%;
}
.login-form h1{
	color: #fff;
	margin-top: -10%;
	text-align: center;
}

.avater{
	width: 100%;
	text-align: center;
}
.avater	img{
	width: 150px;
	height: 180px;
	border-radius: 30%;
}
.avater h2{
	line-height: 46px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight:800;
	margin: 10px 0px;
	color: #fff;
}
.form-group{
	width:100%;
	margin: 0px 0px 20px;
}	
.form-group label{
	display: block;
	font-size:16px;
	line-height:26px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight:700;
	margin: 0px 0px 5px;
	color: white;
}
.form-group .form-control{
	width: 90%;
	padding: 14px;
	font-size: 14px;
	text-transform: uppercase;
	border: 2px solid white;
	background: transparent;
	border-radius: 10px;
	color: whitesmoke;
	
}
.form-group .btn-inf{
	padding: 12px 40px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight:700;
	background: linear-gradient(45deg,black 20%, #05abe0 80%); 
	color: white;
	border:1px solid black;
	border-radius: 5px;
	transition: 1s;
	margin: 0px 120px;

}
.form-group .btn-inf:hover{
	background: linear-gradient(45deg, whitesmoke 15%, black 85%);
	color: white;
	border:1px solid ghostwhite;
	cursor: pointer;
}

